body {
    padding-top: 150px;
    padding-bottom: 100px;
    font-family: 'Courier New', Courier, monospace;
    /*padding bottom prevents text from appearing underneath footer and sticks footer to bottom of page*/
	word-wrap: break-word;
	margin: auto;
	position: relative;
    background-image: url("../Images/CinescheduleBackground.jpg");
    background-size: 100vh;
    background-attachment: fixed;
}

.generalTextContainer {
    max-width: 960px;
    margin: auto;
}

hr {
    color: white;
    border-width: 5px;
    margin: 50px;
}

h1, h2, h3, p {
    color: white;
    text-align: center;
}

h1 {
    font-size: 72pt;
}

h2 {
    font-size: 48pt;
}

h3 {
    font-size: 36pt;
}

p {
    font-size: 24pt;
}

.centerImage, iframe {
    display: flex;
    margin: auto;
}

.centerImage {
    width: 100%;
}

table, th, td {
    background-color: dimgray;
	text-align: center;
	border: 1px solid white;
	margin: auto;
    color: white;
    font-weight: lighter;
    padding:25px;
}

table {
	width: 100%;
    min-height: 25%;
}

.navButton, input[type=submit] {
    text-decoration: none;
    color: white;
    padding: 10px;
    margin: 10px;
    transition-duration: 0.25s;
    border-radius: 25px;
}

.navButton:hover, input[type=submit]:hover {
    color: black;
    background-color: firebrick;
    font-weight: bold;
}

.navButton {
    background-color: black;
}

input[type=submit] {
	font-weight: bold;
	font-family: "Courier New", Courier, monospace;
    background-color: darkblue;
}