.teamMembers {
    display: grid;
    gap: 50px;
    background-color: dimgray;
    color: white;
    margin: auto;
    text-align: center;
    border: 1px solid white;
}

.member2Image, .member2Name, .member2Desc {
    grid-row-start: 2;
}

.member3Image, .member3Name, .member3Desc {
    grid-row-start: 3;
}

.member4Image, .member4Name, .member4Desc {
    grid-row-start: 4;
}
        