* {
    transition-duration: 0.25s;
}

body {
    padding-top: 150px;
    padding-bottom: 100px;
    /*padding top prevents text from appearing underneath navbar*/
    /*padding bottom prevents text from appearing underneath footer*/
    font-family: 'Courier New', Courier, monospace;
	word-wrap: break-word;
	margin: auto;
	position: relative;
    /*background-image: url("../Images/CinescheduleBackground.jpg");*/
    background-image: linear-gradient(darkblue, black);
    /*background-size: 100vh;*/
    background-attachment: fixed;
}

.generalTextContainer {
    max-width: 960px;
    margin: auto;
}

hr {
    color: white;
    border-width: 5px;
    margin: 50px;
}

h1, h2, h3, p {
    color: white;
    text-align: center;
}

h1 {
    font-size: 72pt;
}

h2 {
    font-size: 48pt;
}

h3 {
    font-size: 36pt;
}

p, #lightmodeToggle {
    font-size: 24pt;
}

.centerImage, iframe {
    display: flex;
    margin: auto;
}

.centerImage {
    width: 100%;
}

table, th, td {
    background-color: dimgray;
	text-align: center;
	border: 1px solid white;
	margin: auto;
    color: white;
    font-weight: lighter;
    padding:25px;
    table-layout: fixed;
}

th[scope=col] {
    padding:10px;
}

table {
	width: 100%;
    min-height: 25%;
}

.carousel-item, #taskButton, #taskContainer, .form-text {
    color: white;
}

.carousel-item, #taskButton, #taskContainer {
    background-color: dimgray;
}

.carousel-inner {
    border: 5px solid white;
}

.navButton, input[type=submit], #lightmodeToggle {
    border: 1px solid black;
    text-decoration: none;
    color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 25px;
}

.navButton:hover, input[type=submit]:hover {
    color: black;
    background-color: firebrick;
    font-weight: bold;
}

input[type=submit], #lightmodeToggle {
	font-weight: bold;
	font-family: "Courier New", Courier, monospace;
    background-color: darkblue;
}

.navButton {
    background-color: black;
}

#lightmodeToggle {
    position: fixed;
    bottom: 0;
    right: 0;
}

#lightmodeToggle:hover {
    color: black;
    background-color: white;
}