.movieFestivalGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 50px;
    background-color: dimgray;
    color: white;
    margin: auto;
    text-align: center;
    border: 1px solid white;
    vertical-align: center;
}

.poster1, .poster2, .poster3 {
    grid-row: span 5 / span 5;
}