body {
    padding-bottom: 100px;
    font-family: 'Courier New', Courier, monospace;
    /*padding bottom prevents text from appearing underneath footer and sticks footer to bottom of page*/
	word-wrap: break-word;
	margin: auto;
	position: relative;
}

.navTextContainer {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    font-size: 24pt;
    float: right;
    display: flex;
    color: white;
}

#footerText {
    margin: 22px;
}

.navbarFooterImage {
    height: 100px;
    border: 1px solid black;
}

.navButton {
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 10px;
    margin: 5px;
    transition-duration: 0.25s;
    border-radius: 25px;
}

.navButton:hover {
    color: black;
    background-color: firebrick;
    font-weight: bold;
}

nav, footer {
    background-color: darkred;
    height: 100px;
}

nav {
    margin-bottom: 25px;
    /*margin bottom keeps text a bit away from navbar*/
	position: sticky;
	top: 0px; /* keeps navbar at top */
	left: 0px; /* keeps navbar at far left so it doesn't clip into scroll wheel */
}

footer {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
}